.git
.venv
venv
__pycache__
*.pyc
*.pyo
*.pyd
.Python
env/
.env
.ipynb_checkpoints
.pytest_cache
.mypy_cache
data/
markdown_docs/*.md
tests/
.DS_Store
*.egg-info
dist/
build/
!requirements.txt
!pyproject.toml
