langchain>=0.1.0
langchain-core
langchain-community
langchain-huggingface
langchain-ollama
langchain-openai
langchain-anthropic
langchain-google-genai
langchain-qdrant
langchain-text-splitters
langgraph
qdrant-client
pymupdf4llm
gradio
loguru
pydantic-settings
pydantic>=2.0.0
sentence-transformers
rank-bm25
pytest
pytest-asyncio
mypy
types-PyYAML
typeguard
tiktoken
